body {
  color: #ffffff;
  background-color: #000;
}

/* .mainContainer{
    padding: 0;
} */
.mainContainer .jumbotron {
  color: #ffffff;
  background-color: #000000;
  padding-top: 38px;
}
.m-left {
  margin: 10px 10px 10px 0;
}
.dropdownMarket {
  border-radius: 0;
  border: 1px solid #525252;
  background-color: #171717 !important;
  margin-top: 35px;
  padding: 2.7rem 2rem;
}

.mintShare {
  background: #2cb3a7;
  border: #2cb3a7;
}

.mintShare:hover,
.mintShare:focus,
.mintShare:hover {
  background: #1ca397;
}

.table-bordered {
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #0e0e0e;
  background-color: #161616 !important;
  margin-top: 35px;
}
.table-bordered:hover {
  color: white;
}

.table-hover tbody tr:hover {
  color: #fff !important;
}

.form-control {
  width: auto;
}

.custom-select {
  width: 80%;
}

.col-4 {
  flex: 0 0 43.333333%;
  max-width: 43.333333%;
  font-size: 93%;
}

.col-7 {
  flex: 0 0 54.333333%;
}

.col-8 {
  flex: 0 0 100%;
  max-width: 100%;
}

.table {
  border: 1px solid #777;
  color: #eee;
}

th {
  border: 1px solid #777 !important;
  color: #eee !important;
}

td {
  border: 1px solid #555 !important;
}

.btn-danger {
  padding: 5px 10px;
  background-color: #b65739;
  border-color: #b7b7b7;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #a64729;
  border-color: #b7b7b7;
}

.btn-secondary {
  margin-left: 0;
  padding: 5px 20px;
  color: #fff;
  background-color: #545454;
  border-color: #6c757d;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #444444;
}

.btn-success {
  background: #00420f;
  padding: 5px 20px;
  border-color: #6c757d;
  padding: 5px 30px !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background: #002d0b;
}

.market-column {
  width: 40%;
}

.holdings-column {
  width: 20%;
}

.inventory-header {
  color: #eee;
  font-size: 1.44em !important;
  margin-top: 20px;
  font-weight: normal;
}
.topcorner {
  position: absolute;
  top: 0;
  right: 0;
}

.oi-display {
    padding-right: 6.7em;
    color: #dedede;
    margin-top: 1.82em;
}

.popover {
  max-width: 450px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.foundry-tvl {
  font-weight:normal;
  display: block;
  margin-bottom: 5px;
  font-size: 95%;
}

.foundry-percent {
  font-weight: normal;
  font-size: 95%;
}

.misc-links h4 {
    color: #eee;
    font-size: 1.44em !important;
    margin-top: 40px;
    font-weight: normal;
}

.link-list {
  padding: 0;
  background-color: #171717 !important;
  margin-top: 35px;
  list-style-type: none;
  height: 200px;
}

.link-list li {
  font-size: 21px;
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  padding: 0;
  text-align: 0;
  border: 1px solid #525252;
}

.link-list li:hover {
  background: #222;
}

.link-list a {
  padding-top: 80px;
  color: #eee;
  height: 100%;
  display: block;
  text-decoration: none;
}

.link_emoji {
  margin-right: 10px;
}

.faded {
  font-weight: normal;
  font-size: 84%;
}